.background {
    -fx-background-color: #FFF0F5;
}


.label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #800000;
    -fx-background-color: #FFF0F5;
}

.label-tablero {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #F5E1E1;
    -fx-background-color: #1D8614;
}

.button {
    -fx-background-color: #AB4642;
    -fx-text-fill: #F5E1E1;
}

.button-blue {
    -fx-background-color: #94d9f4;
    -fx-text-fill: #FFFFFF;
}

.button-tablero {
    -fx-background-color: #1D8614;
    -fx-text-fill: #000000;
}

/*
.menu-bar {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu {
    -fx-text-background: #000000;
}
.choice-box .label {
    -fx-text-fill: #000000;
}

.text-field {
    -fx-font-family: "Segoe UI Semibold";
}


.label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #E8E8E8;
    -fx-opacity: 0.6;
}

#bold-label{
    -fx-font-weight: bold;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}


.menu .left-container {
    -fx-background-color: black;
}

*/