.background {
    -fx-background-color: #FFF0F5;
}

.label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #800000;
    -fx-background-color: #FFF0F5;
}

.label-tablero {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #F5E1E1;
    -fx-background-color: #1D8614;
}

.button {
    -fx-background-color: #AB4642;
    -fx-text-fill: #F5E1E1;
}

.button-blue {
    -fx-background-color: #94d9f4;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.button-tablero {
    -fx-background-color: #1D8614;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-font-weight: bold;
}